# Data and output directories
data/
output/
wandb/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Ignore large data folders
Gaussian-Grouping/

# Ignore additional dataset and checkpoints folders
lang-seg/datasets/
datasets/
lang-seg/checkpoints/
checkpoints/

MinkowskiEngine/data/
MinkowskiEngine/checkpoints/

# Ignore large model and checkpoint files
*.ckpt
*.pth
*.pt
*.tar

