data/
output/
wandb/
utils/__pycache__/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
*.npy
*.pth
*.ply
*.png
*.jpg
*.npz

# Virtual Environment
venv/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Ignore large data folders
Gaussian-Grouping/
datasets/
lang-seg/

cuda_project_image_to_sparse_voxel/voxel_feature_checkpoints_vox6680/

camera_params/
configs/
cuda-debug/
cuda_project_clean/

cuda_project_image_to_sparse_voxel/vis_open_voc/
cuda_project_image_to_sparse_voxel/voxel_feature_checkpoints_vox41759/

lang-seg/PyTorch-Encoding/

submodules/diff-gaussian-rasterization/
gaussian-splatting/
MinkowskiEngine_old/