# Data and output directories
data/
output/
wandb/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Ignore large data folders
Gaussian-Grouping/
datasets/
lang-seg/ADEChallengeData2016

# cuda_project_image_to_sparse_voxel large files
cuda_project_image_to_sparse_voxel/tensor_data.pt
cuda_project_image_to_sparse_voxel/proj_output.pt
cuda_project_image_to_sparse_voxel/occupancy.pt
cuda_project_image_to_sparse_voxel/camera_params/camera_params.json
cuda_project_image_to_sparse_voxel/camera_params/scaled_camera_params.json